.container {
  width: 100%;
  height: 100vh;
  padding-left: 45%;
  padding-right: 45%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: flex-start; 
}
.btn{
  color: rgb(249, 252, 252);
  text-align: center;
  background-color: black;
  font-size:20px;
  padding: 10px 20px  10px 20px;
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}