.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;  
}
.heading{
  background-color: aqua;
  padding:10px;
  font-size:34px;
  display: flex;
  justify-content: center;
}
.btn{
  color: rgb(249, 252, 252);
  text-align: center;
  background-color: black;
  font-size:20px;
  padding: 10px 20px  10px 20px;
  width: 20%;
  left:40%;
}
.im{
  height: 60px;
  width: 120px;
}
.link{
  color: aliceblue;
  text-decoration: none;
}