.heading{
    background-color: aqua;
    padding:10px;
    font-size:34px;
    display: flex;
    justify-content: center;
}
.im{
    height: 60px;
    width: 120px;
}
.intro{
    padding-top: 10px;
}
h3{
    padding: 5px;
    text-decoration: underline;
}
.services{
    padding: 5px;

}
p{
    padding: 5px;
}
.aboutus{
    color: red;
}
h1 {
    text-align: center;
  }